<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="cn" connectionString= "Data Source=ALINA-PC\SQLEXPRESS;Database=StoreDB;Integrated Security=True"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>

		<add key ="ParentTableName" value="Stores"/>
		<add key="ChildTableName" value="Staff"/>
		<add key ="ChildColumnNames" value="staff_id,first_name,last_name,store_id"/>
		<add key ="ChildColumnTypes" value="int,string,string,int"/>
		<add key="ParentPrimaryKey" value ="store_id"/>
		<add key="ChildPrimaryKey" value="staff_id"/>
		<add key="ChildForeignKey" value ="store_id"/>
		
		


	</appSettings>
</configuration>